.ionMenu{
    background: #282c34;
    transition: all .1s linear;

}
.ionLink{
    font-size: 18px;
    color: snow;
    text-decoration: none;
}
.ionLink:hover{
    color: yellow;

}
/*
стиль контейнера меню
 */
.ionContainer >li{
    padding-left: 10px;
    margin-top: 10px;

}
/**
стиль коневой картинки
 */
.ionImageMenu{
    background: rgba(71, 71, 68, 0.95); /* Цвет фона */
    border: 2px solid black; /* Параметры рамки */
    padding-left: 3px; /* Поля вокруг текста */
    padding-right: 3px;
    margin: 3px;
    border-radius: 5px;
}
/**
Стиль картинки субменю
 */
.ionImageSubMenu{
    background: inherit; /* Цвет фона */
    border: 2px solid inherit; /* Параметры рамки */
    padding-left: 3px; /* Поля вокруг текста */
    padding-right: 3px;

    margin: 3px;
    border-radius: 5px;

}
/**
Стиль корневого меню не выбранного
 */
.defaultMenu{
    padding-left: 7px;
    margin-top: 15px;
}
.defaultMenu:hover{
    background: #5f5f5a;
}
/**
Стиль корневого менб выбранного
 */
.selectMenu{
    background: #5f5f5a;
    padding-left: 7px;
    margin-top: 15px;
    color: yellow;

}

/**
стиль субменю не выбранное
 */
.defaultSubMenu{
 font-size: 15px;
}
.defaultSubMenu:hover{
    background: #5f5f5a;
}
/**
Стиль заголовка
 */
.ionSideHead{
 color: white;
    text-align: center;
    height: 50px;
    width: 100%;
}

/**
стиль субменю выбранное
 */
.selectSubMenu{
    background: #5f5f5a;
    font-size: 15px;
    color: yellow;

}
/**
Стиль иконки закрытия-открытия
 */
.toggleOpen{
    position: fixed;
    left: 0px;
    bottom:0px;
}





#menu ul{
    padding: 0;
    padding-left: 10px; /*отступ слева - корневой элемент*/
}

#menu li {
     padding: 0;
    padding-left: 30px; /*отступ слева субменю от родителя*/
}

.container-fluid {
    padding: 0px;
    overflow: hidden;
}
/**
стиль иконки для открытия субменю
 */
.ionImageToggle{
padding-right: 15px;
}
